@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ILogger<AddForm> Logger

@implements IDisposable
@using System.Net.Http.Headers
@using System.Text;
@using iTextSharp.text.pdf;
@using QRCoder;
@using iTextSharp.text;
@using System.IO;

<PageTitle>GzOffice</PageTitle>
<div style="font-family:Cairo;font-weight:700;">
	<div class="d-flex justify-content-center">


	<h3 style="font-family:Cairo;">استمارة المقابلة الامنية</h3><br/>
	</div>

	<EditForm Model="form" OnValidSubmit="ViewForm">
		<DataAnnotationsValidator />

		<div class="container">
			<!-- First Row -->
			<div class="row">
				<div class="col-md-4 mb-3">
					<label for="form_doc_no">رقم الحفظ</label>
					<InputNumber id="form_doc_no" @bind-Value="form.doc_no" class="form-control"></InputNumber>
					<ValidationMessage For="@(() => form.doc_no)" />

				</div>
				<div class="col-md-4 mb-3">
					<label for="form_name">الاسم الرباعي واللقب</label>
					<InputText id="form_name" @bind-Value="form.name" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.name)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_id_number">رقم البطاقة الموحدة</label>
					<InputNumber id="form_id_number" @bind-Value="form.id_number" class="form-control"></InputNumber>
					<ValidationMessage For="@(() => form.id_number)" />
				</div>


				<div class="col-md-4 mb-3">
					<label for="form_birthdate">تاريخ الولادة</label>
					<InputDate id="form_birthdate" @bind-Value="form.birthdate" class="form-control"></InputDate>
					<ValidationMessage For="@(() => form.birthdate)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_birth_place1">محل الولادة</label>
					<InputText id="form_birth_place" @bind-Value="form.birth_place" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.birth_place)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_study">التحصيل الدراسي</label>
					<InputText id="form_study" @bind-Value="form.study" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.study)" />
				</div>


				<div class="col-md-4 mb-3">
					<label for="form_state">الحالة الزوجية</label>
					<InputText id="form_state" @bind-Value="form.state" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.state)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_nationalism">الديانة</label>
					<InputText id="form_nationalism" @bind-Value="form.nationalism" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.nationalism)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_religion">القومية</label>
					<InputText id="form_religion" @bind-Value="form.religion" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.religion)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_bagde_color">تاريخ التخرج</label>
					<InputDate id="form_grad_year" @bind-Value="form.grad_year" class="form-control"></InputDate>
					<ValidationMessage For="@(() => form.grad_year)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_entity">جهة العمل</label>
					<InputText id="form_entity" @bind-Value="form.entity" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.entity)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_phone1">موبايل</label>
					<InputNumber id="form_phone1" @bind-Value="form.phone1" class="form-control"></InputNumber>
					<ValidationMessage For="@(() => form.phone1)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_phone2">موبايل 2</label>
					<InputText id="form_phone2" @bind-Value="form.phone2" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.phone2)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_father_work">عمل الأب</label>
					<InputText id="form_father_work" @bind-Value="form.father_work" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.father_work)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_father_work_old">عمل الاب السابق</label>
					<InputText id="form_father_work_old" @bind-Value="form.father_work_old" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.father_work_old)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_mother_name">اسم الأم</label>
					<InputText id="form_mother_name" @bind-Value="form.mother_name" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.mother_name)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_mother_work">عمل الأم</label>
					<InputText id="form_mother_work" @bind-Value="form.mother_work" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.mother_work)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_wife_name">اسم الزوجة</label>
					<InputText id="form_wife_name" @bind-Value="form.wife_name" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.wife_name)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_wife_work">عمل الزوجة</label>
					<InputText id="form_wife_work" @bind-Value="form.wife_work" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.wife_work)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_work_place">مكان العمل الحالي (صاحب الاستمارة)</label>
					<InputText id="form_work_place" @bind-Value="form.work_place" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.work_place)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_work_duration">مدة العمل الحالي(صاحب الاستمارة)</label>
					<InputText id="form_work_duration" @bind-Value="form.work_duration" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.work_duration)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_work_place2">مكان العمل السابق(صاحب الاستمارة)</label>
					<InputText id="form_work_place2" @bind-Value="form.work_place2" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.work_place2)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_work_duration2">مدة العمل السابق (صاحب الاستمارة)</label>
					<InputText id="form_work_duration2" @bind-Value="form.work_duration2" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.work_duration2)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_place_govern">محافظة الإقامة</label>
					<InputText id="form_place_govern" @bind-Value="form.place_govern" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_govern)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_place_city">المدينة</label>
					<InputText id="form_place_city" @bind-Value="form.place_city" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_city)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_place_point">اقرب نقطة دالة</label>
					<InputText id="form_place_point" @bind-Value="form.place_point" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_point)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_place_mhala">المحلة</label>
					<InputText id="form_place_mhala" @bind-Value="form.place_mhala" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_mhala)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_place_zuqaq">الزقاق</label>
					<InputText id="form_place_zuqaq" @bind-Value="form.place_zuqaq" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_zuqaq)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_place_dar">الدار</label>
					<InputText id="form_place_dar" @bind-Value="form.place_dar" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_dar)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_new_place_duration">مدة الاقامة</label>
					<InputText id="form_new_place_duration" @bind-Value="form.new_place_duration" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.new_place_duration)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_old_place">نوع الملك</label>
					<InputText id="form_place_type" @bind-Value="form.place_type" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.place_type)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_old_place">مكان الاقامة السابق</label>
					<InputText id="form_old_place" @bind-Value="form.old_place" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.old_place)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_old_key_place">اقرب نقطة دالة </label>
					<InputText id="form_old_key_place" @bind-Value="form.old_key_place" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.old_key_place)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_old_place_duration">مدة الاقامة</label>
					<InputText id="form_old_place_duration" @bind-Value="form.old_place_duration" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.old_place_duration)" />
				</div>

				<div class="col-md-4 mb-3">
					<label for="form_bagde_color">لون الباج</label>
					<InputText id="form_bagde_color" @bind-Value="form.bagde_color" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.bagde_color)" />
				</div>
				<div class="col-md-4 mb-3">
					<label for="form_passport_no">رقم جواز السفر - ان وجد</label>
					<InputText id="form_passport_no" @bind-Value="form.passport_no" class="form-control"></InputText>
					<ValidationMessage For="@(() => form.passport_no)" />
				</div>

			</div>


			<h5>أسماء الأبناء</h5>
			<div style="overflow-x: auto; max-width: 100%; display: block;">
				<table class="table table-bordered" style="width: max-content;">
					<thead>
					<tr>
						<th>الاسم</th>
						<th>تاريخ التولد</th>
						<th>العمل</th>
						<th>حذف</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var son in form.Sons)
					{
						<tr>
							<td><InputText @bind-Value="son.Name" class="form-control" /></td>
							<td><InputDate @bind-Value="son.BirthDate" class="form-control" /></td>
							<td><InputText @bind-Value="son.Job" class="form-control" /></td>
							<td>
								<button type="button" class="btn btn-danger" @onclick="() => RemoveSon(son)">X</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
			</div>
			<button type="button" class="btn btn-warning mb-3" @onclick="AddSon">إضافة إبن</button>

			<h5>السفر خارج العراق</h5>
			<div style="overflow-x: auto; max-width: 100%; display: block;">
				<table class="table table-bordered" style="width: max-content;">

				<thead>
					<tr>
						<th>الدولة</th>
						<th>تاريخ السفر</th>
						<th>عدد السفرات</th>
						<th>مدة السفر</th>
						<th>الغرض من السفر</th>
						<th>حذف</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var travel in form.Travels)
					{
						<tr>
							<td><InputText @bind-Value="travel.CountryName" class="form-control" /></td>
							<td><InputDate @bind-Value="travel.TravelDate" class="form-control" /></td>
							<td><InputNumber @bind-Value="travel.TravelCount" class="form-control" /></td>
							<td><InputText @bind-Value="travel.TravelDuration" class="form-control" /></td>
							<td><InputText @bind-Value="travel.TravelPorpose" class="form-control" /></td>
							<td>
								<button type="button" class="btn btn-danger" @onclick="() => RemoveTravel(travel)">X</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
			</div>
			<button type="button" class="btn btn-warning mb-3" @onclick="AddTravel">إضافة سفر</button>

			<div class="mb-3">
				<label for="form_a1">هل يوجد لديك احتجاز او توقيف لدى اي جهة امنية عراقية سابقاً؟</label>
				<InputText id="form_a1" @bind-Value="form.a1" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a1)" />
			</div>
			<div class="mb-3">
				<label for="form_a2">هل تم اتهامك سابقاً او حالياً بأي شكوى قضائيا او في طور التحقيق؟</label>
				<InputText id="form_a2" @bind-Value="form.a2" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a2)" />
			</div>

			<div class="mb-3">
				<label for="form_a3">هل يوجد لديك حكم قضائي سابق؟</label>
				<InputText id="form_a3" @bind-Value="form.a3" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a3)" />
			</div>

			<div class="mb-3">
				<label for="form_a4">هل تم اعتقالك او احتجازك من قبل اي قوة عسكرية احنبية بعد سقوط النظام عام 2003؟</label>
				<InputText id="form_a4" @bind-Value="form.a4" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a4)" />
			</div>

			<div class="mb-3">
				<label for="form_a5">هل عملت ضمن الكيانات الامنية والحزبية المنحلة قبل عام 2003؟</label>
				<InputText id="form_a5" @bind-Value="form.a5" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a5)" />
			</div>

			<h5>أسماء الاخوة الاشقاء والغير اشقاء</h5>
			<div style="overflow-x: auto; max-width: 100%; display: block;">
				<table class="table table-bordered" style="width: max-content;">

				<thead>
					<tr>
						<th>الاسم</th>
						<th>تاريخ التولد</th>
						<th>العمل</th>
						<th>حذف</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var relative in form.Relatives)
					{
						<tr>
							<td><InputText @bind-Value="relative.Name" class="form-control" /></td>
							<td><InputDate @bind-Value="relative.BirthDate" class="form-control" /></td>
							<td><InputText @bind-Value="relative.Job" class="form-control" /></td>
							<td>
								<button type="button" class="btn btn-danger" @onclick="() => RemoveRelative(relative)">X</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
			</div>
			<button type="button" class="btn btn-warning mb-3" @onclick="AddRelative">إضافة قيد</button>


			<div class="mb-3">
				<label for="form_a6">هل لديك اقارب يعملون او يسكنون داخل المنطقة الخضراء؟</label>
				<InputText id="form_a6" @bind-Value="form.a6" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a6)" />
			</div>

			<div class="mb-3">
				<label for="form_a7">هل اجريت مقابلة ذات طابع امني لدى اي جهة اخرى ؟</label>
				<InputText id="form_a7" @bind-Value="form.a7" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a7)" />
			</div>


			<div class="mb-3">
				<label for="form_a11">هل يوجد لدى افراد العائلة احتجاز او توقيف لدى اي جهة امنية عراقية سابقاً او حالياً؟</label>
				<InputText id="form_a11" @bind-Value="form.a11" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a11)" />
			</div>

			<div class="mb-3">
				<label for="form_a12">هل تم اتهام احد افراد العائلة سابقاً او حالياً بأي شكوى قضائيا او في طور التحقيق؟</label>
				<InputText id="form_a12" @bind-Value="form.a12" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a12)" />
			</div>

			<div class="mb-3">
				<label for="form_a13">هل يوجد لدى افراد العائلة حكم قضائي سابق او حالي؟</label>
				<InputText id="form_a13" @bind-Value="form.a13" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a13)" />
			</div>

			<div class="mb-3">
				<label for="form_a14">هل تم اعتقال احد افراد العائلة او احتجازه من قبل اي قوة عسكرية اجنبية بعد سقوط النظام عام 2003؟</label>
				<InputText id="form_a14" @bind-Value="form.a14" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a14)" />
			</div>

			<div class="mb-3">
				<label for="form_a15">هل احد افراد العائلة ضمن الكيانات الامنية والحزبية المنحلة قبل عام 2003؟ </label>
				<InputText id="form_a15" @bind-Value="form.a15" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a15)" />
			</div>

			<div class="mb-3">
				<label for="form_a16">هل تسلم احد الاقارب مناصب حزبية او امنية مهمة قبل عام 2003؟</label>
				<InputText id="form_a16" @bind-Value="form.a16" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a16)" />
			</div>

			<div class="mb-3">
				<label for="form_a17">هل يوجد محكومية او مطلوبية بحق احد الاقارب بتهمة الارهاب؟اذكر التفاصيل</label>
				<InputText id="form_a17" @bind-Value="form.a17" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a17)" />
			</div>
			<div class="mb-3">
				<label for="form_a18">هل تعرضت انت او احد افراد عائلتك او اقاربك الى عمل ارهابي؟</label>
				<InputText id="form_a18" @bind-Value="form.a18" class="form-control"></InputText>
				<ValidationMessage For="@(() => form.a18)" />
			</div>
		</div>

		@if (IsLoading)
		{
			<div class="text-center mb-3">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">جاري التحميل...</span>
				</div>
				<p>جاري تجهيز الاستمارة، يرجى الانتظار...</p>
			</div>
		}
		<button type="submit"
				class="btn btn-primary float-end"
				disabled="@IsLoading">
			@if (IsLoading)
			{
				<text>
					<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
					جاري التحضير
				</text>
			}
			else
			{
				<text>تهيئة الاستمارة</text>
			}
		</button>

		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-success" id="openPdfBtn" onclick="openStoredPdf()" disable style="@GetOpenPdfStyle()">
				طبع الاستمارة
			</button>
		</div>



		<ValidationSummary />
	</EditForm>
	
	

</div>

@code {
	bool ShowOpenPdfButton = false;
	string GetOpenPdfStyle() => ShowOpenPdfButton ? "display:inline-block;" : "display:none;";
	bool authrized = false;
	private string UserName = "Guest";
	[Parameter]
	public int Id { get; set; }
	GzAmnform.Models.Form form = new Models.Form();
	private string AppoMessage = string.Empty;
	private bool isSuccessAppo;
	string btnText = "";
	bool IsLoading = false;
	bool deleted = false;
	string msg = "Loading ...";
	private bool DisableAddUpdateButon = false;
	private string userMessage = "";
	private bool isSuccess = false;
	private int ddid;
	private Form data;
	private string pdfBase64;
	private int zkey;
	private string message=string.Empty;
	private string logMessage=string.Empty;
	protected override async Task OnInitializedAsync()
	{
		Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);
		form.username = UserName;
		form.birthdate = DateOnly.FromDateTime(DateTime.Now);
		form.grad_year = DateOnly.FromDateTime(DateTime.Now);
		AddRelative();
		AddSon();
		AddTravel();
		LoadData();
	}
	public void Dispose()
	{
	}
	async Task HandleFormSubmission()
	{

	}

	async Task ViewForm()
	{
		try
		{
			IsLoading = true;
			StateHasChanged(); 
			await Task.Delay(1000);
			Console.Write("ViewForm");

			var filePath = Path.Combine("PDF", "fillable.pdf");
			if (!System.IO.File.Exists(filePath))
			{
				Console.WriteLine("File not found");
				return;
			}

			byte[] pdfBytes = System.IO.File.ReadAllBytes(filePath);
			if (pdfBytes == null || pdfBytes.Length == 0)
			{
				Console.WriteLine("Failed to read PDF file.");
			}

			var readform = form;
			readform.id = 1;

			string qrcodetext = $"{readform.name}<{readform.id_number.ToString()}<{ readform.doc_no.ToString()}";
			pdfBytes = FillFormField(pdfBytes, readform);
			pdfBytes = FillPdfFormFieldsWithQRCode(pdfBytes, qrcodetext);

			pdfBase64 = Convert.ToBase64String(pdfBytes);
			var base64Url = $"data:application/pdf;base64,{pdfBase64}";

			using (StreamWriter logWriter = new StreamWriter("log.txt", true))
			{
				logMessage = $"{DateTime.Now} : new success form : {readform.name} - {readform.doc_no} - {readform.entity} - {readform.id_number}";
				await logWriter.WriteLineAsync(logMessage);
			}

			// wait until process finished
			//await JSRuntime.InvokeVoidAsync("openPdfFromBase64", pdfBase64);

			//store the pdfBase64 to and prepare it to open in another buttom
			await JSRuntime.InvokeVoidAsync("storePdfForLater", pdfBase64);

			//show the button after press the prepare for second time
			await JSRuntime.InvokeVoidAsync("showOpenPdfBtn");

			ShowOpenPdfButton = true;
			StateHasChanged();

		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error OUT: {ex.Message}");
		}
		finally
		{
			IsLoading = false;
			StateHasChanged(); 
		}
	}


	public static byte[] FillFormField(byte[] pdfBytes, Form readForm)
	{
		try
		{
			using (MemoryStream inputPdfStream = new MemoryStream(pdfBytes))
			using (MemoryStream outputPdfStream = new MemoryStream())
			{
				using (PdfReader reader = new PdfReader(inputPdfStream))
				using (PdfStamper stamper = new PdfStamper(reader, outputPdfStream))
				{
					// Get the form fields
					AcroFields fields = stamper.AcroFields;

					// Set the font for the field to an Arabic-compatible font
					BaseFont bf = BaseFont.CreateFont("arial.ttf", BaseFont.IDENTITY_H, BaseFont.EMBEDDED);
					fields.AddSubstitutionFont(bf);

					// Fill the specific field with Arabic text
					fields.SetField("1", readForm.doc_no.ToString());
					fields.SetField("2", readForm.bagde_color.ToString());
					fields.SetField("3", readForm.name.ToString());
					fields.SetField("4", readForm.entity.ToString());
					fields.SetField("5", readForm.id_number.ToString());
					//fields.SetField("6", readForm.info_book.ToString());
					//fields.SetField("7", readForm.seq.ToString());
					//fields.SetField("8", readForm.review_date.ToString());
					fields.SetField("12", readForm.name.ToString());
					fields.SetField("13", readForm.birthdate.ToString());
					fields.SetField("14", readForm.state.ToString());
					fields.SetField("15", readForm.nationalism.ToString());
					fields.SetField("16", readForm.religion.ToString());
					string concatenatedValue = $"{readForm.place_govern} - {readForm.place_city} - {readForm.place_mhala} - {readForm.place_zuqaq} - {readForm.place_dar}";
					fields.SetField("17", concatenatedValue);
					fields.SetField("18", readForm.old_place.ToString());

					fields.SetField("19", readForm.phone1.ToString());
					fields.SetField("20", readForm.phone2.ToString());
					fields.SetField("21", readForm.work_place.ToString());
					fields.SetField("22", readForm.work_place2.ToString());
					fields.SetField("23", readForm.study.ToString());
					fields.SetField("24", readForm.grad_year.ToString());
					fields.SetField("25", readForm.birth_place.ToString());
					fields.SetField("26", readForm.new_place_duration.ToString());
					fields.SetField("27", readForm.place_point.ToString());
					fields.SetField("28", readForm.place_type.ToString());
					fields.SetField("29", readForm.old_place_duration.ToString());
					fields.SetField("30", readForm.old_key_place.ToString());
					fields.SetField("30", readForm.old_key_place.ToString());
					fields.SetField("30", readForm.old_key_place.ToString());
					fields.SetField("31", readForm.work_duration.ToString());
					fields.SetField("32", readForm.work_duration2.ToString());

					fields.SetField("34", readForm.father_work.ToString());
					fields.SetField("33", readForm.father_work.ToString());
					fields.SetField("35", readForm.mother_name.ToString());
					fields.SetField("36", readForm.mother_work.ToString());
					fields.SetField("37", readForm.wife_name.ToString());
					fields.SetField("38", readForm.wife_work.ToString());

					fields.SetField("a1", readForm.a1.ToString());
					fields.SetField("a2", readForm.a2.ToString());
					fields.SetField("a3", readForm.a3.ToString());
					fields.SetField("a4", readForm.a4.ToString());
					fields.SetField("a5", readForm.a5.ToString());
					fields.SetField("a6", readForm.a6.ToString());
					fields.SetField("a7", readForm.a7.ToString());
					//fields.SetField("a8", readForm.a8.ToString());
					//fields.SetField("a9", readForm.a9.ToString());
					//fields.SetField("a10", readForm.a10.ToString());
					fields.SetField("a11", readForm.a11.ToString());
					fields.SetField("a12", readForm.a12.ToString());
					fields.SetField("a13", readForm.a13.ToString());
					fields.SetField("a14", readForm.a14.ToString());
					fields.SetField("a15", readForm.a15.ToString());
					fields.SetField("a16", readForm.a16.ToString());
					fields.SetField("a17", readForm.a17.ToString());
					fields.SetField("a18", readForm.a18.ToString());

					StringBuilder sb = new StringBuilder();

					// الهيدر
					sb.AppendLine("البلد - التاريخ - العدد - المدة - الغرض");

					// البيانات
					foreach (var travel in readForm.Travels)
					{
						sb.AppendLine($"{travel.CountryName} - " +
											$"{travel.TravelDate?.ToString("yyyy-MM-dd")} - " +
											$"{travel.TravelCount} - " +
											$"{travel.TravelDuration} - " +
											$"{travel.TravelPorpose}");
					}

					// ضع الناتج بالحقل A8
					fields.SetField("a8", sb.ToString());

					StringBuilder sonsBuilder = new StringBuilder();
					sonsBuilder.AppendLine("الاسم - تاريخ التولد - العمل");

					foreach (var son in readForm.Sons)
					{
						sonsBuilder.AppendLine($"{son.Name} - " +
														$"{son.BirthDate?.ToString("yyyy-MM-dd")} - " +
														$"{son.Job}");
					}

					fields.SetField("a9", sonsBuilder.ToString());

					StringBuilder relBuilder = new StringBuilder();
					relBuilder.AppendLine("الاسم - تاريخ التولد - العمل");

					foreach (var rel in readForm.Relatives)
					{
						relBuilder.AppendLine($"{rel.Name} - " +
													$"{rel.BirthDate?.ToString("yyyy-MM-dd")} - " +
													$"{rel.Job}");
					}

					fields.SetField("a10", relBuilder.ToString());


					// Flatten the form
					stamper.FormFlattening = true;
				}

				// Return the modified PDF as a byte array
				return outputPdfStream.ToArray();
			}
		}
		catch (Exception ex)
		{
			// Handle or log the exception
			Console.WriteLine("Error occurred1: " + ex.Message);
			return null;
		}
	}
	private byte[] FillPdfFormFieldsWithQRCode(byte[] pdfBytes, string qrCodeValue)
	{


		try
		{
			using (var pdfReader = new iTextSharp.text.pdf.PdfReader(new MemoryStream(pdfBytes)))
			using (var outputMemoryStream = new MemoryStream())
			using (var pdfStamper = new iTextSharp.text.pdf.PdfStamper(pdfReader, outputMemoryStream))
			{
				var pdfFormFields = pdfStamper.AcroFields;



				// Generate QR Code
				//var qrCodeValue = "زيد محمد خضر>123123>ادم"; // Replace with your QR code data
				var qrCodeImageBytes = GenerateQRCodeImage(qrCodeValue);

				// Create a QR code image stamp
				var qrCodeImage = Image.GetInstance(qrCodeImageBytes);
				qrCodeImage.SetAbsolutePosition(50, 530); // Adjust the position as needed

				// Add the image stamp to the PDF
				var contentByte = pdfStamper.GetOverContent(1); // Page number, adjust as needed
				contentByte.AddImage(qrCodeImage);

				pdfStamper.FormFlattening = true; // Optionally flatten the fields to make them read-only
				
				pdfStamper.Close();

				return outputMemoryStream.ToArray();
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error filling PDF form fields: {ex.Message}");
		}

		return null;
	}

	private byte[] GenerateQRCodeImage(string qrCodeText)
	{
		try
		{
			var qrGenerator = new QRCodeGenerator();
			var qrCodeData = qrGenerator.CreateQrCode(qrCodeText, QRCodeGenerator.ECCLevel.Q);
			var qrCode = new PngByteQRCode(qrCodeData);
			return qrCode.GetGraphic(2); // Adjust the size as needed
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error generating QR code image: {ex.Message}");
		}

		return null;
	}
	void AddRelative()
	{
		form.Relatives.Add(new RelativeInfo());
	}

	void RemoveRelative(RelativeInfo item)
	{
		form.Relatives.Remove(item);
	}
	void AddSon() => form.Sons.Add(new SonsInfo());
	void RemoveSon(SonsInfo son) => form.Sons.Remove(son);

	void AddTravel() => form.Travels.Add(new TravelInfo());
	void RemoveTravel(TravelInfo travel) => form.Travels.Remove(travel);

	public async Task LoadData()
	{
		try
		{
			
				form.a1 = "لايوجد";
				form.a2 = "لايوجد";
				form.a3 = "لايوجد";
				form.a4 = "لايوجد";
				form.a5 = "لايوجد";
				form.a6 = "لايوجد";
				form.a7 = "لايوجد";
				form.a8 = "لايوجد";
				form.a9 = "لايوجد";
				form.a10 = "لايوجد";
				form.a11 = "لايوجد";
				form.a12 = "لايوجد";
				form.a13 = "لايوجد";
				form.a14 = "لايوجد";
				form.a15 = "لايوجد";
				form.a16 = "لايوجد";
				form.a17 = "لايوجد";
				form.a18 = "لايوجد";




	
		}
		catch (Exception ex)
		{
			Console.WriteLine("An error occurred: " + ex.Message);
		}
	}
}
